.meetTeam {
  display: grid;
  grid-template-columns: 378px 773px;
  gap: 16px;
  min-height: 392px;
  padding: 95px 136px 129px;
}

.header {
  color: var(--text-color-special);
}

.text {
  padding: 14px 0 31px;
  color: var(--text-color-dec);
}

.button {
  background-color: transparent;
  color: var(--text-color);
  width: 130px;
}

.button:hover {
  background-color: var(--bg-color-button-hover-link);
}

.people {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  row-gap: 51px;
  column-gap: 18px;
  padding-top: 13px;
}