.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 117px;
  height: 102px;
}

.name {
  padding-top: 15px;
  color: #403e3b;
  font-size: 18px;
  line-height: 144%;
}

.text {
  padding: 10px 47px;
  color: #645c55;
  text-align: center;
}