.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  color: var(--text-color-special);
  width: 117px;
  height: 102px;
}

.name {
  padding-top: 15px;
  color: var(--text-color-special);
  font-size: 18px;
  line-height: 144%;
}

.text {
  padding: 10px 47px;
  color: var(--text-color-dec);
  text-align: center;
}