.button {
  width: 155px;
  height: 46px;
  border-radius: 14px;
  padding: 10px 21px;

  background-color: #1b1a1a;
  color: #fff;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;

  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #333; /* чуть светлее при наведении */
}