.featuredProjects {
  position: relative;
  padding: 113px 136px 100px;
  background-color: #f7f7f7;
}

.title {
  color: #1b1a1a;
}

.text {
  max-width: 581px;
  padding: 14px 0 44px;
  color: #645c55;
  font-size: 24px;
  line-height: 125%;
}

.list {
  display: flex;
  gap: 20px;
  padding: 0 2px;
  list-style-type: none;
}

.buttonStile {
  display: flex;
  justify-content: center;
  padding: 33px 0 0 8px;
}

.button {
  background-color: transparent;
  color: #1b1a1a;
  width: 180px;
  margin: 10px 5px 0;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
