.howWeDo {
  padding: 101px 134px;
}

.heading {
  color: var(--text-color-dec);
  text-align: center;
}

.title {
  padding: 14px 0 46px;
  color: var(--text-color);
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  list-style-type: none;
}