.photoSection {
  position: relative;
  min-width: 300px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: auto;
}

.photoSection::before {
  content: "";
  position: absolute;
  inset: 0; 
  background: var(--overlay-dark); 
  z-index: 0;
}

.text {
  position: absolute;
  top: 44.5%;
}

.title {
  color: var(--text-color-special); 
}

.right {
  right: 73px;
}

.left {
  left: 61px;
}

.paragraph {
  max-width: 286px;
  color: var(--text-color-dec);
}