.item {
  position: relative;
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--overlay-dark); 
  z-index: 0;
}

.image {
  width: 100%;
  display: block;
}

.meta {
  position: absolute;
  top: 39px;
  left: 40px;
  z-index: 5;
}

.country {
  color: var(--text-color-dec);
}

.title {
  color: var(--text-color-special);
  font-size: 23px;
  line-height: 130%;
}

.link {
  position: absolute;
  width: 135px;
  bottom: 40px;
  left: 45px;
  z-index: 5;
}





