.card {
  display: flex;
  align-items: center;
  gap: 30px;
}

.avatar {
  width: 84px;
  height: 84px;
  /*  border: 3px solid #cec4bc; */
  border-radius: 64px;
}

.name {
  color: #1b1a1a;
  font-size: 17px;
  line-height: 16px;
}

.role{
  color: #645c55;
  font-size: 14px;
  line-height: 100%;
}