.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 136px 110px;
  background-color: var(--bg-color-secondary);
}

.title {
  color: var(--text-color-dec);
}

.text {
  position: relative;
  top: -7px;
  max-width: 569px;
  color: var(--text-color);
  font-size: 40px;
  line-height: 105%;
}

.button {
  background-color: transparent;
  color: var(--text-color);
  width: 147px;
  margin-top: 11px;
}

.button:hover {
  background-color: var(--bg-color-button-hover-link);
}