@import './typography.css';

/* глобальные стили всего проекта */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #505050;
}

button {
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

img {
  width: 100%;
}

header,
section,
footer {
  background-color: #ffffff;
}

a {
  color: #1b1a1a;
  text-decoration: none;
}

/* подключение локальных шрифтов */
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(./assets/fonts/Poppins-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}
