.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 61px 136px;

  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}

.logo {
  width: 256px;
  height: 22px;
  margin-bottom: 21px;
}

.text {
  color: var(--text-color-dec);
  font-size: 14px;
  line-height: 143%;
}

.links {
  position: relative;
  top: 8px;
  display: flex;
  gap: 20px;
}

.imgLogo {
  width: 24px;
  height: auto;
}