.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 61px 136px;
}

.logo {
  width: 256px;
  padding-bottom: 12px;
}

.text {
  color: #645c55;
  font-size: 14px;
  line-height: 143%;
}

.links {
  position: relative;
  top: 8px;
  display: flex;
  gap: 20px;
}

.imgLogo {
  width: 24px;
  height: auto;
}