.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--bg-color-cover);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 77px 60px;
  padding: 60px 40px 39px;
}

.logo {
  color: var(--text-color-dec);
}

.title {
  font-size: 64px;
  line-height: 110%;
  color: var(--text-color);
}

.text {
  color: var(--text-color-special);
}

.coverButton {
  background-color: transparent;
  color: var(--text-color);
  padding: 11px 20px;
  width: 133px;
  margin: 10px 5px 0;
}

.coverButton:hover {
  background-color: var(--bg-color-button-hover-link);
}
